*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
.header .row{
    margin: 70 px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type:none ;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: dashed;
    color:darkblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
p{
    color:blueviolet;

}
.container{
    max-width: 1300px;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content:space-around;
}
.col-2{
    flex-basis: 50%;
    min-width:  300 px;
}
.col-2 img{
    max-width: 100%;
    padding:50 px 0;
}
.col-2 h1{
    font-size: 50 px;
    line-height: 60 px;
    margin:25 px 0;
}
.btn{
    display: inline-block;
    background: aqua;
    border: 2px solid red; 
    color:black;
    padding: 8px 30px;
    margin:30px 0;
    border-collapse: separate; 
    border-radius: 30 px;
    overflow: hidden;
    perspective: 1px;
    
}
.btn:hover{
    background-color: cornflowerblue;
}
.header{
    background-image:radial-gradient(#fff,skyblue);
}
.categories{
    margin:70 px 0;
    
}
.col-3{
    flex-basis: 30%;
    min-width:25px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100 px;
    width: 200px;
    display: inline-block;
}
.small-container{
    max-width: 1080 px;
    margin:auto;
    padding-left: 35px;
    padding-right: 35px;
}
.col-4{
    flex-basis: 25%;
    padding: 10 px;
    min-width: 200px;
    padding-bottom: 50 px;
}
.col-4{
    width:100 px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }